DataBricksPoc/pipeline/PL_GoldLayerDataLoad.json
{
	"name": "PL_GoldLayerDataLoad",
	"properties": {
		"activities": [
			{
				"name": "InsertLogtaskControlFlow",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/rohita@contata.in/DataBrick/DataBricksCode/Customers/Process/SP/InsertLogTaskcontrolFlow",
					"baseParameters": {
						"dataFactory": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"Pipeline": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"startingActivity": "InsertLogtaskControlFlow",
						"endingActivity": "ENT_LoadDataintoGoldLayer",
						"Status": "InProgress",
						"schemaName": {
							"value": "@pipeline().parameters.schemaName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ENT_LoadDataintoGoldLayer",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "InsertLogtaskControlFlow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/rohita@contata.in/DataBrick/DataBricksCode/Insurance/Gold/SP/MergeIsurance"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ENT_LoadDataintoGoldLayer_Failed",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ENT_LoadDataintoGoldLayer",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/rohita@contata.in/DataBrick/DataBricksCode/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('InsertLogtaskControlFlow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "Error"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ENT_LoadDataintoGoldLayer_Success",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ENT_LoadDataintoGoldLayer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/rohita@contata.in/DataBrick/DataBricksCode/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('InsertLogtaskControlFlow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "0"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"schemaName": {
				"type": "string",
				"defaultValue": "Gold"
			}
		},
		"variables": {
			"LogtaskControlFlowKey": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DataBricksPOCPipelines"
		},
		"annotations": []
	}
}