DataBricksPoc/pipeline/PL_InsuranceInfo.json
{
	"name": "PL_InsuranceInfo",
	"properties": {
		"activities": [
			{
				"name": "ENT_InsertLogTaskControlflow",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Customers/Process/SP/InsertLogTaskcontrolFlow",
					"baseParameters": {
						"dataFactory": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"schemaName": "Silver",
						"endingActivity": "ENT_MergePoliciyAging",
						"startingActivity": "ENT_InsertIntoAgingBronze",
						"Pipeline": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Status": "InProgress"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ENT_InsertIntoPolicyInfo_Bronze",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ENT_InsertLogTaskControlflow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Insurance/Bronze/SP/InsertIntoPolicyInfo_Bronze",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('ENT_InsertLogTaskControlflow').output.runOutput)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ENT_GovernanceRulesForPolicyInfo",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ENT_InsertIntoPolicyInfo_Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Insurance/Silver/SP/GovernanceRulesforInsuranceInfo"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ENT_MergePolicyInfo",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ENT_GovernanceRulesForPolicyInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Insurance/Silver/SP/MergePolicyInfo"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ENT_InsertIntoPolicyInfo_Bronze_Failed",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ENT_InsertIntoPolicyInfo_Bronze",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('ENT_InsertLogTaskControlflow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "Error"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ENT_GovernanceRulesForPolicyInfo_Failed",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ENT_GovernanceRulesForPolicyInfo",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('ENT_InsertLogTaskControlflow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "Error"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ENT_MergePolicyInfo_Failed",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ENT_MergePolicyInfo",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('ENT_InsertLogTaskControlflow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "Error"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ENT_MergePolicyInfo_Success",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ENT_MergePolicyInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('ENT_InsertLogTaskControlflow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "0"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LogTaskControlFlowKey": {
				"type": "String",
				"defaultValue": "123"
			}
		},
		"folder": {
			"name": "DataBricksPOCPipelines"
		},
		"annotations": []
	}
}