DataBricksPoc/pipeline/PL_MasterPipelinDatabricksPOC.json
{
	"name": "PL_MasterPipelinDatabricksPOC",
	"properties": {
		"activities": [
			{
				"name": "InsertLogtaskControlFlow",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/dhruvj@contata.com/DataBrick/DataBricksCode/Customers/Process/SP/InsertLogTaskcontrolFlow",
					"baseParameters": {
						"dataFactory": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"Pipeline": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"startingActivity": "InsertLogtaskControlFlow",
						"endingActivity": "PL_GoldLayerDataLoad",
						"Status": "InProgress",
						"schemaName": {
							"value": "@pipeline().parameters.schemaName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PL_PolicyTransaction",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "InsertLogtaskControlFlow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_PolicyTransaction",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PL_InsuranceAging",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_PolicyTransaction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_InsuranceAging",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PL_InsuranceInfo",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_InsuranceAging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_InsuranceInfo",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PL_PolicyTransaction_Failed",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PL_PolicyTransaction",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/dhruvj@contata.com/DataBrick/DataBricksCode/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('InsertLogtaskControlFlow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "Error"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PL_InsuranceAging_Failed",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PL_InsuranceAging",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/dhruvj@contata.com/DataBrick/DataBricksCode/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('InsertLogtaskControlFlow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "Error"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PL_GoldLayerDataLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "PL_InsuranceInfo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_GoldLayerDataLoad",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PL_InsuranceInfo_Failed",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PL_InsuranceInfo",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/dhruvj@contata.com/DataBrick/DataBricksCode/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('InsertLogtaskControlFlow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "Error"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PL_GoldLayerDataLoad_Success",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PL_GoldLayerDataLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/dhruvj@contata.com/DataBrick/DataBricksCode/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('InsertLogtaskControlFlow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "0"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PL_GoldLayerDataLoad_Failed",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "PL_GoldLayerDataLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/dhruvj@contata.com/DataBrick/DataBricksCode/Customers/Process/SP/UpdateLogtaskcotrolflow",
					"baseParameters": {
						"CreatedBy": {
							"value": "@string(activity('InsertLogtaskControlFlow').output.runOutput)",
							"type": "Expression"
						},
						"Error": "Error"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksPoc",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"schemaName": {
				"type": "string",
				"defaultValue": "Master"
			}
		},
		"folder": {
			"name": "DataBricksPOCPipelines"
		},
		"annotations": []
	}
}